<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamieadkins.gwent">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GwentApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gwent">

        <!-- Disable analytics collection. No user consent yet! -->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Gwent.NoActionBar.Drawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".card.detail.DetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Gwent.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"/>

            <!-- Can't open gwentdb links at the moment as we are using data from elsewhere. -->
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.gwentdb.com"
                    android:scheme="http"
                    android:pathPrefix="/cards/" />

                <data
                    android:host="gwentdb.com"
                    android:scheme="http"
                    android:pathPrefix="/cards/ " />
            </intent-filter>-->

        </activity>

        <activity
            android:name=".deck.detail.PublicDeckDetailActivity"
            android:theme="@style/Theme.Gwent.NoActionBar" />

        <activity
            android:name=".deck.detail.user.UserDeckDetailActivity"
            android:theme="@style/Theme.Gwent.NoActionBar" />

        <activity
            android:name=".settings.BasePreferenceActivity"
            android:theme="@style/Theme.Gwent.NoActionBar" />

        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/Theme.Gwent.NoActionBar" />
    </application>

</manifest>